body {
    font-family: "Playfair Display", serif;
    background-color: #1b4965;
}

.container-fluid {
    height: 100vh;
}

.card {
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 70%;
    margin: 0 auto;
}

.card-body {
    padding: 2rem;
}

.form-control {
    border-radius: 1rem;
}

.btn-primary {
    background-color: #5fa8d3;
    border-color: #8d8d8d;
    color: #000;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    font-size: 1.3rem;
}

.btn-primary:hover {
    background-color: #1b4965;
    border-color: #0052a3;
    color: #fff;

}